<div class="page-container">
  <div class="p-8 h-min-24 flex flex-col gap-3 mt-12 w-10/12 ml-7 rounded-md shadow-md">
    <p class="text-2xl font-black">Summary</p>
    <div>
      <p class="text-gray-500">Available Spend</p>
      <p class="text-lg font-bold">R {{(availableSpend$ | async) ?? 0}}</p>
    </div>
    <div>
      <p>Chart</p>
    </div>
  </div>

  <div class="ml-8 mt-6">
    <h2 class="text-2xl font-black mb-2">Budgets</h2>
    <button id="open-modal" class="flex flex-row items-center gap-1 text-white bg-primary p-2 rounded-md">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" stroke-miterlimit="10" stroke-width="32" d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z">
        </path>
        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 176v160m80-80H176">
        </path>
      </svg>
      <p class="text-xs">Add budget</p>
    </button>
    <ion-modal #addBudgetModal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Add New Budget</ion-title>
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form [formGroup]="addNewBudgetForm" (submit)="addNewBudget()" class="flex flex-col justify-center">
            <div class="flex flex-col mt-4 ml-3">
              <label class="mb-4 text-lg font-bold">Title</label>
              <input type="text" formControlName="budgetTitle" placeholder="Budget title" [ngClass]="addNewBudgetForm.controls['budgetTitle'].errors && this.addNewBudgetForm.controls['budgetTitle'].touched ? 'border-red-600 border-2' : ''" class="border border-black focus:border-primary rounded-md w-10/12 p-3">
            </div>
            <div *ngIf="addNewBudgetForm.controls['budgetTitle'].errors?.['required'] && this.addNewBudgetForm.controls['budgetTitle'].touched" class="bg-red-300 ml-3 mt-4 p-3 w-10/12 rounded-md">
              <p class="text-red-700">A title is required for your budget.</p>
            </div>
            <div class="flex flex-col mt-4 ml-3">
              <label class="mb-4 text-lg font-bold">Limit</label>
              <input type="number" min="0" formControlName="budgetLimit" class="border border-black focus:border-primary rounded-md w-10/12 p-3">
            </div>
            <div *ngIf="addNewBudgetForm.controls['budgetLimit'].errors?.['min'] && this.addNewBudgetForm.controls['budgetLimit'].touched" class="bg-red-300 ml-3 mt-4 p-3 w-10/12 rounded-md">
              <p class="text-red-700">Budget limit must be a positive number.</p>
            </div>
            <div *ngIf="addNewBudgetForm.controls['budgetLimit'].errors?.['required'] && this.addNewBudgetForm.controls['budgetLimit'].touched" class="bg-red-300 ml-3 mt-4 p-3 w-10/12 rounded-md">
              <p class="text-red-700">Budget limit is required.</p>
            </div>
            <div class="flex flex-col mt-4 ml-3">
              <label class="mb-4 text-lg font-bold">Expenses</label>
              <input type="number" min="0" formControlName="budgetExpenses"  class="border border-black focus:border-primary rounded-md w-10/12 p-3">
            </div>
            <div *ngIf="addNewBudgetForm.controls['budgetExpenses'].errors?.['min'] && this.addNewBudgetForm.controls['budgetExpenses'].touched" class="bg-red-300 ml-3 mt-4 p-3 w-10/12 rounded-md">
              <p class="text-red-700">Budget expense amount must be a positive number.</p>
            </div>
            <div class="flex flex-row mt-4 ml-3">
              <div>
                <label class="mb-8 text-lg font-bold">Start Date</label>
                <input type="date" formControlName="budgetDateStart"  class="border border-black focus:border-primary rounded-md w-10/12 p-3">
              </div>
              <div>
                <label class="mb-8 text-lg font-bold">End Date</label>
                <input type="date" formControlName="budgetDateEnd"  class="border border-black focus:border-primary rounded-md w-10/12 p-3">
              </div>
            </div>
            <div *ngIf="addNewBudgetForm.controls['budgetDateStart'].errors?.['required'] && this.addNewBudgetForm.controls['budgetDateStart'].touched" class="bg-red-300 ml-3 mt-4 p-3 w-10/12 rounded-md">
              <p class="text-red-700">Budget start date is required</p>
            </div>
            <div class="flex flex-col mt-4 ml-3">
              <label class="mb-4 text-lg font-bold">Transactions</label>
              <input type="number" formControlName="budgetTransactions"  class="border border-black focus:border-primary rounded-md w-10/12 p-3">
            </div>
            <ion-button type="submit" class="mt-12 disabled:bg-gray-600 disabled:cursor-not-allowed" [disabled]="!addNewBudgetForm.valid">Create Budget</ion-button>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-list class="w-10/12 mt-6" *ngIf="(budgetList$ | async) as budgets">
      <ion-item (click)="navigateToPage(budget.id)" *ngFor="let budget of budgets; index as i" id="{{budget.id}}" class="cursor-pointer flex flex-col">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>
          <p class="text-3xl">{{budget?.title ?? 'Budget Title'}}</p>
          <p class="mt-12">{{ budget.dateEnd | date: 'mediumDate'}}</p>
        </ion-label>
        <ion-label slot="end">
          <p>{{budget?.totalExpense ?? 0}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="ml-8 mt-6">
    <h2 class="text-2xl font-black">Recent transactions</h2>
    <div class="text-lg mr-8 mt-4 flex flex-row justify-between align-middle">
      <button class="flex flex-row items-center gap-1 text-white bg-primary p-2 rounded-md">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke-miterlimit="10" stroke-width="32" d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z">
          </path>
          <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 176v160m80-80H176">
          </path>
        </svg>
        <p class="text-xs">Add transaction</p>
      </button>
      <button class="text-xs px-4 text-primary font-bold">See All</button>
    </div>
    <ion-list class="w-10/12 mt-6">
      <ion-item>No recent transactions</ion-item>
    </ion-list>
  </div>
</div>
