<div class="page-container">
  <div class="p-8 h-min-24 flex flex-col gap-3 mt-12 w-10/12 ml-7 rounded-md shadow-md">
    <p class="text-2xl font-black">Summary</p>
    <div>
      <p class="text-gray-500">Available Spend</p>
      <p class="text-lg font-bold">R {{(availableSpend$ | async) ?? 0}}</p>
    </div>
    <div>
      <p>Chart</p>
    </div>
  </div>

  <div class="ml-8 mt-6">
    <h2 class="text-2xl font-black mb-2">Budgets</h2>
    <button id="open-modal" class="flex flex-row items-center gap-1 text-white bg-primary p-2 rounded-md">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" stroke-miterlimit="10" stroke-width="32" d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z">
        </path>
        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 176v160m80-80H176">
        </path>
      </svg>
      <p class="text-xs">Add budget</p>
    </button>
    <ion-modal #addBudgetModal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Add New Budget</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Click <strong>confirm</strong> to set your name (Jorge) and age (36) or
            <strong>cancel</strong> to dismiss this modal.
          </p>
          <ion-button class="ion-margin" shape="round" expand="full" fill="outline" (click)="onWillDismiss($event)"
          >Cancel</ion-button
          >
          <ion-button class="ion-margin" shape="round" expand="full" (click)="confirm()"
          >Confirm</ion-button
          >
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-list class="w-10/12 mt-6" *ngIf="(budgetList$ | async) as budgets">
      <ion-item *ngFor="let budget of budgets; index as i" id="{{budget.id}}" class="cursor-pointer flex flex-col">
<!--        <div class="w-full flex flex-row justify-between block">-->
<!--          <p>{{budget?.title ?? 'Budget Title'}}</p>-->
<!--          <p>{{budget?.totalExpense ?? 0}}</p>-->
<!--        </div>-->
<!--        <div class="w-full">-->
<!--          <p class="w-full">{{ budget.dateEnd | date: 'mediumDate'}}</p>-->
<!--        </div>-->
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label>
          <p class="text-3xl">{{budget?.title ?? 'Budget Title'}}</p>
          <p class="mt-12">{{ budget.dateEnd | date: 'mediumDate'}}</p>
        </ion-label>
        <ion-label slot="end">
          <p>{{budget?.totalExpense ?? 0}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="ml-8 mt-6">
    <h2 class="text-2xl font-black">Recent transactions</h2>
    <div class="text-lg mr-8 mt-4 flex flex-row justify-between align-middle">
      <button class="flex flex-row items-center gap-1 text-white bg-primary p-2 rounded-md">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke-miterlimit="10" stroke-width="32" d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z">
          </path>
          <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 176v160m80-80H176">
          </path>
        </svg>
        <p class="text-xs">Add transaction</p>
      </button>
      <button class="text-xs px-4 text-primary font-bold">See All</button>
    </div>
    <ion-list class="w-10/12 mt-6">
      <ion-item>No recent transactions</ion-item>
    </ion-list>
  </div>
</div>
